<html>
<h1>DATA</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
    </tr>
    {{range .data}}
    <tr>
        <td>{{.Name}}</td>
        <td>{{.Age}}</td>
    </tr>
    {{end}}
</table>
</html>